<h1>Edit Project</h1>
<%= render "form" %>
<br>
<%= link_to "Show", admin_project_path(@project), class: "btn btn-outline-secondary" %> |
<%= link_to "Back to list", admin_projects_path, class: "btn btn-secondary" %>
