<div class="photo-gallery-container">
  <div class="container">
    <!-- Turbo Frame for smooth photo navigation -->
    <%= turbo_frame_tag "photo-frame" do %>
      <%= render "photo_content" %>
    <% end %>
  </div>
</div>
